{% extends 'base.html.twig' %}

{% block body %}
    <h2>List of series</h2>

    <section class="series-list">

        {% for serie in series %}
            <article>
                <a href="{{ path('serie_show', {'id': serie.id}) }}" title="View detail about {{ serie.name }}">
                    <img src="{{ asset('./img/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                    <p>{{ serie.name }}</p>
                </a>
            </article>
        {% endfor %}

    </section>

{% endblock %}


{% block title %}
    {{ parent() }} | List
{% endblock %}